.section2 {
  padding: 50px 0;
}

.id_pass {
  position: absolute;
  top: 170px;
}
.login_btn {
  width: 100px;
  padding: 0;
  height: 50px;
  background-color: red;
  border-width: 0;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  color: white;
}
